body {
    font-family: 'Anta', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/endless-constellation.png);
    color: #fff;
}
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
    display: block;
    color: black;
    align-items: center;
}

.card img {
    width: 40%;
    justify-content: flex-start;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card {
    height: 400px;
    width: 700px;
    justify-content: space-between;
}

.card p {
    margin-bottom: 5px;
}

.texto {
    padding: 10px;
    text-align: center;
}