*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(/img/wpp.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}
.box-img{
    border-radius: 50%;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}
.box p{
    text-align: justify;
}
.box ul{
    list-style: none;
    margin-top: 20px;
}
.box ul li{
    display: inline-block;
}
.box ul li a{
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    display: block;
    transition: all 0.5 ease-in-out;
}
.box ul li a:hover{
    color: #b9b9b9;
    transform: scale(1.1);
}
btnFlex {
    justify-content: end;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(55px);
}

.btn:hover .icon {
    width: 175px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}

btn:hover {
    background-color: #040f16;
}

/* Estilos para efectos de animación */
[data-aos] {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.75s;
}

[data-aos].fade-up {
    opacity: 1;
    transform: translateY(0);
}

.links a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 13px;
}

.links {
    background: #040f16;
    max-width: 20%;
    display: none;
    position: absolute;
    top: calc(5%);
    left: 0;

}

.btn:hover+.links,
.links a:hover {
    background-color: #f0edff7c;
}

.desplegable:hover .links {
    display: block;
}

@media only screen and (max-width: 650px) {
    body{
        background: url(/img/ba4069296a7db97ee3ef5e1ca9a16e77.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box{
        max-width: 90% ;
        justify-content: center;
        text-align: center;
    }
    .box-img{
        justify-content: center;
    }
}