*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Anta', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/endless-constellation.png);
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
.logoMedia{
    max-width: 300px;  /*se cambia el tamano del logo*/
    max-height: 150px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: white;
    text-decoration: none;
}
