*{
    padding: 0;
    margin: 0;
}
.Titulo{
    text-align: center;
}
.Subtitulo{
    margin: 10px;
    text-align: center;
}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.container{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
}
@media screen and (max-width:1200px) {
    body{
        background-color: red;
        color: blue;
    }
    .Titulo{
        font-size: 30px;
    }
}
@media screen and (max-width:900px){
    body{
        background-color: blue;
        color: red;
    }
    .Titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;
    }
    
}
@media screen and (max-width:600px) {
    body{
        background-color: darkmagenta;
        color: aliceblue;
    }
    .Titulo{
        font-size: 20px;
    }
    .img{
        width: 50%;
    }
}
@media screen and (max-width:400px) {
    body{
        background-color: darkslateblue;
        color: azure;
    }
    .img{
        width: 50%;
    }
}